---
// components
import Layout from "@layouts/Layout.astro";
import BackArrowButton from "@components/generalUtilities/BackArrowButton.astro";

import { marked } from "marked";
import { getEventsPerId } from "@services/events";
import SocialLinksCard from "@components/generalUtilities/SocialLinksCard.astro";

export interface Params {
  detailsId: string;
}

const detailsId = Astro.params?.detailsId ?? "";
let data;

if (detailsId) {
  try {
    data = await getEventsPerId(detailsId);
  } catch (error) {
    console.error(error);
    return Astro.redirect("/noticias/events/1");
  }
}

const { Id, Evento, Contenido, Imagen, Ubicacion, Modalidad } = data;
const ContenidoParsed = marked.parse(Contenido);
const width = Imagen[0].width;
const height = Imagen[0].height;

Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, s-maxage=300, stale-while-revalidate=3500')
Astro.response.headers.set("Netlify-Vary", `section=events&id=${Id}`);
---

<Layout title=`${Evento}`>
  <BackArrowButton />
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 md:max-w-[700px] md:mx-auto md:min-h-[700px] md:justify-start xl:max-w-[900px]"
    transition:animate="slide"
  >
    <h4 class="font-bold text-lg lg:text-xl font-serif text-center">{Evento}</h4>
    <img
      src={Imagen[0].signedUrl}
      alt="Event Image"
      class="h-full max-w-[300px] object-contain mx-auto"
      title="Event Image"
      width={width}
      height={height}
    />
    <div class="flex flex-row justify-center items-center gap-2">
      <span class="bg-amber-500 text-white w-fit text-sm font-bold p-1 rounded">{Ubicacion}</span>
      <span class="bg-slate-400 text-white w-fit text-sm font-bold p-1 rounded">{Modalidad}</span>
    </div>
    <SocialLinksCard id={Id} />
    <p class="text-lg font-serif md:self-start">
      <div
        class="prose prose-slate self-start min-w-[100%]"
        set:html={ContenidoParsed}
      />
    </p>
  </div>
</Layout>
