---
export const prerender = false;

import { marked } from "marked";
import Layout from "@layouts/Layout.astro";
import { getNewsPerId } from "@services/news";
import BackArrowButton from "@components/BackArrowButton.astro";

export interface Params {
  detailsId: string;
}

const detailsId = Astro.params?.detailsId ?? "";
let data;

if (detailsId) {
  try {
    data = await getNewsPerId(detailsId);
  } catch (error) {
    console.error(error);
    return Astro.redirect("/noticias/page/1");
  }
}

const { Noticia, Contenido, Categoria, Imagenes, CreatedAt, Autor } = data;
const ContenidoParsed = marked.parse(Contenido);
---

<Layout title=`${Noticia}`>
  <BackArrowButton />
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 md:max-w-[700px] md:mx-auto md:min-h-[700px] md:justify-start xl:max-w-[900px]"
  >
    <h1 class="text-3xl font-bold font-serif text-center">{Noticia}</h1>
    <div class="text-gray-500 text-sm self-start flex flex-row gap-2">
      {
        Categoria.split(",").map((el: string) => (
          <span class="p-2 rounded bg-red-800 text-white">{el}</span>
        ))
      }
    </div>
    <img
      src={Imagenes[0].thumbnails.card_cover.signedUrl}
      alt="news"
      class="max-h-[200px] object-fit md:max-h-[300px]"
    />
    <div class="flex flex-row gap-2 justify-between w-full border-b-2">
      <p class="text-gray-500 text-sm">{Autor.display_name}</p>
      <p class="text-gray-500 text-sm">
        {new Date(CreatedAt).toLocaleDateString()}
      </p>
    </div>
    <p class="text-lg font-serif md:self-start">
      <div class="prose prose-slate self-start min-w-[100%]" set:html={ ContenidoParsed}></div>
    </p>
  </div>
</Layout>
